.chatCont{
    margin: auto;
    width: 50%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2)
}


.chatWindow{
    width: 100%;
    height: 500px;
    border-radius: 4px;
    overflow: auto;
    padding: 2%;
}

.inputBox{
    padding: 2%;
    margin-right: 10px;
}

.inputBox div{
    border: 1px solid darkgray;
    margin-left: 8px;
    border-radius: 4px;
    padding: 2px;
    margin-right: 10px;
}

.inputBox input{
    width: 90%;
    padding: 6px 10px;
    outline: none;
    padding-right: 0px;
    border: none;
}

.inputBox button{
    background-color: white;
    padding: 4px 8px;
    padding-right: 0px;
    border: none;
    margin-right: 0px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
}

.inputBox img{
    width: 20px;
    background-color: white;
}

.myChatAvatar{
    border-radius: 15px;
    margin-top: 2px;
    margin-left: 5px;
    width: 20px;
    margin-top: -2px;
}

.ChatAvatar{
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 5px;
    width: 20px;
    margin-top: -2px;
}

.aboutMentee{
    text-align: center;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
}

.aboutMentee img{
    width: 160px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.aboutMentee p{
    text-align: justify;
}

.main{
    display: flex;
    margin: 3%;
    margin-left: 8%;
}

.startConvo{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: darkgray;
}

@media only screen and (max-width: 800px){
    .main{
        display: block;
        text-align: center;
    }
    .chatCont{
        margin-top: 100px;
        width: 100%;
    }
}